* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul,
ol,
li,
menu {
    list-style-type: none;
}

body{
	font-family: sans-serif;
}

.inline {
	display: inline;
}

.bg-img {
	background-image: url(../img/jumbo.png);
	background-size: cover;
}

header.main-header,
section.hero {
	max-height: 100%;
	min-height: 125px;
	color: white;
	padding-top: 15px;
} 

.main-content {
	min-height: 372px;
}

.main-header span {
	padding: 0 15px;
}

.accedi {
    background-color: white;
    color: rgb(35, 35, 35);
	border-radius: 20px 20px 20px 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.h1-hero {
	text-align: center;
	font-size: 38px;
	margin-bottom: 30px;
}

.p-hero {
	text-align: center;
	font-size: 18px;
	padding-bottom: 26px;
}

.button-hero {
	margin: 0px -81px 10px 150px;
	border-radius: 20px 20px 20px 20px;
	padding: 15px;
}

.button-downl {
	background-color: white;
	color: black;
}

.button-open {
	background-color: rgb(34, 39, 43);
	color: rgb(255, 255, 255);

}

.h1-main {
	font-size: 38px;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 20px;
}

.h1-last {
	font-size: 38px;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
}

h2.last {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 36px;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 25px;

}

.container-small {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 40px;
}

.row {
	display: flex;
}

.row-reverse {
	flex-direction: row-reverse;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.main-header .row {
	align-items: center;
}

.button-last {
	background-color: rgb(115, 130, 224);
	padding: 10px;
	text-align: center;
	margin-left: 382px;
	border-radius: 20px 20px 20px 20px;
	color: white;
}



.logo {
	min-width: 150px;
}

.page-footer {
	background-color: #23272a;
	color: white;
}

.section {
	padding: 50px 0;
}

.col-16 {
	flex-basis: calc(100% / 6);
	padding-right: 40px;
}

.col-33 {
	flex-basis: calc(100% / 3);
}

.h3-footer {
	text-align: left;
	font-size: 28px;
	color: rgb(115, 130, 224);
	padding-bottom: 12px;
}

.h4-footer {
	color: rgb(115, 130, 224);
	padding-bottom: 12px;
}

.ul-footer > li {
	color: rgb(255, 255, 255);
	padding-bottom: 13px;
}


.bandiera {
	max-height: 20px;
	
}

.col-40 {
	flex-basis: 40%;
}

.col-60 {
	flex-basis: 60%;
}

.col-100 {
	flex-basis: 100%;
}

.bg-gray {
	background-color: rgb(246, 246, 246);
}

.line {
	border-top: 2px solid rgb(65, 83, 202);
}
